.wrap-accoridon {
  margin-bottom: 6px;

  .wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    padding: 10px;

    background-color: var(--beige);
    border-radius: 6px;

    .icon-arrow-down {
      width: 20px;
      height: 20px;
    }
  }
}

.wrap-content {
  display: none;
}

.wrap-accoridon.open {
  .wrap-content {
    display: block;
  }

  .wrap-header {
    background-color: var(--beige);
  }

  .icon-arrow-down {
    transform: rotate(180deg);
  }
}
