@import '../../scss/utils.scss';

.container {
  @include text-content;

  .wrap-persons {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
    font-weight: bold;
    margin: 42px 0 8px;

    .icon-heart {
      fill: var(--red);
      width: 16px;
      height: 16px;
      margin-inline: 6px;
    }
  }

  .icon-flower {
    width: 32px;
    height: 32px;
  }

  .wrap-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
  }
}
