@font-face {
  font-family: 'NanumNaEuiANaeSonGeurSsi';
  src:
    url(../assets//fonts/subset-NanumNaEuiANaeSonGeurSsi.woff2) format('woff2'),
    url(../assets//fonts/subset-NanumNaEuiANaeSonGeurSsi.woff) format('woff'),
    url(../assets//fonts/subset-NanumNaEuiANaeSonGeurSsi.ttf) format('truetype');
  font-display: fallback;
}
